
@{
    ViewBag.Title = "Dine";
}

<div id="carouselExampleFade" class="carousel slide carousel-fade topcarousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/images/Restaurants & Cafe/banner/banner1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/images/Restaurants & Cafe/banner/banner2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/images/Restaurants & Cafe/banner/banner3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/images/Restaurants & Cafe/banner/banner4.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/images/Restaurants & Cafe/banner/banner5.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center">
    <a href="@Url.Action("Index","Home")">
        <img class="logo" src="~/Content/images/commonimages/Logo.png" alt="...">
    </a>
    <div class="logotext">
        <a id="grandtext" href="@Url.Action("Index","Home")">Grand</a>
        <a id="bluetext" href="@Url.Action("Index","Home")">Blue</a>
        <div id="resorttext">
            <p><a id="subtext" href="@Url.Action("Index","Home")">Resort & Spa</a></p>
        </div>
    </div>
</div>

<div class="commonblock">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="blocktext2">
                    Discover Dining Experience
                </h2>
                <div class="text-center">
                    <img id="welcomebar" src="~/Content/images/commonimages/line.png" alt="">
                </div>
                <p class="blocksubtext">
                    GrandBlue is fitted with the most up to date hygienic kitchen maintained and operated by our highly trained team of Food and Beverage specialists. Our service staff are professionally trained and knowledgeable in the local area and aim to assist in making your stay pleasurable and an unforgettable experience.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="maincontent">
    <h2 class="blocktext1">At a Glance</h2>
    <div class="text-center">
        <img id="contentbar" src="~/Content/images/commonimages/line_1.png" alt="">
    </div>
    <div class="allglance">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 blockimgodd child1">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner carboxodd">
                            <div class="carousel-item active">
                                <img src="~/Content/images/Restaurants & Cafe/CafeFoam/Cafe.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/CafeFoam/Cafe1_1.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 blockdescription">
                    <div class="blockodd child1">
                        <div class="blockbody">
                            <h2 class="blocktitle">Cafe Foam</h2>
                            <p class="blocktext">
                                Set within a breezy, open-air cafe overlooking The GrandBlue’s golden beachfront, Cafe Foam is the beating heart of the property’s culinary offering.
                            </p>
                            <p class="blocktext">
                                As you watch the sunset over the ocean and listen to the sounds of the waves crashing on the beach you will fall in love with Bangladesh all over again at this atmospheric cafe.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="allglance">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4 blockdescription">
                    <div class="blockeven child1">
                        <div class="blockbody">
                            <h2 class="blocktitle">The Seaside Club</h2>
                            <p class="blocktext">
                                Relaxed, beachfront eatery by day and vibrant cocktail lounge by night, Seaside Club is the ideal oceanfront hang out for the whole family.
                            </p>
                            <p class="blocktext">
                                Here you can enjoy international casual dining options including bubbling pizzas and American style beach BBQs, as well as tropical juices and smoothies, fresh salads and grilled local seafood.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 blockimgeven child1">
                    <div id="carouselExampleIndicators1" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        </div>
                        <div class="carousel-inner carboxeven">
                            <div class="carousel-item active">
                                <img src="~/Content/images/Restaurants & Cafe/TheSeasideClub/Club.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/TheSeasideClub/Club_1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/TheSeasideClub/Club_2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/TheSeasideClub/Club_3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/TheSeasideClub/Club_4.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="allglance">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 blockimgodd child2">
                    <div id="carouselExampleIndicators2" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner carboxodd">
                            <div class="carousel-item active">
                                <img src="~/Content/images/Restaurants & Cafe/TheGrandRestaurant/Restaurant.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/TheGrandRestaurant/Restaurant1_1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/TheGrandRestaurant/Restaurant1_2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 blockdescription">
                    <div class="blockodd child2">
                        <div class="blockbody">
                            <h2 class="blocktitle">The Grand Restaurant</h2>
                            <p class="blocktext">
                                The Grand Restaurant is The GrandBlue’s fine dining haven and offers an unforgettable treat for all the senses.
                            </p>
                            <p class="blocktext">
                                Be transported across the world as you sample the finest French and modern European dishes crafted with the highest quality ingredients, from butter-soft steak to rich caviar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="allglance">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4 blockdescription">
                    <div class="blockeven child2">
                        <div class="blockbody">
                            <h2 class="blocktitle">Poolside Restaurant</h2>
                            <p class="blocktext">
                                Located near The GrandBlue’s open-air lobby overlooking a turquoise swimming pool, The Poolside Restaurant is The GrandBlue’s international buffet-style restaurant.
                            </p>
                            <p class="blocktext">
                                With terraces bathed in sunlight by day and the glow of lanterns and candles by night, The Poolside Restaurant serves up a different cuisine each evening, from Seafood BBQ to Bangladeshi specialities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 blockimgeven child2">
                    <div id="carouselExampleIndicators3" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner carboxeven">
                            <div class="carousel-item active">
                                <img src="~/Content/images/Restaurants & Cafe/PoolSideRestaurant/Restaurant2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/PoolSideRestaurant/Restaurant2_1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/PoolSideRestaurant/Restaurant2_2.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="allglance">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 blockimgodd child3">
                    <div id="carouselExampleIndicators4" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner carboxodd">
                            <div class="carousel-item active">
                                <img src="~/Content/images/Restaurants & Cafe/TheBlueBar/Bar.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Restaurants & Cafe/TheBlueBar/Bar_1.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 blockdescription">
                    <div class="blockodd child3">
                        <div class="blockbody">
                            <h2 class="blocktitle">The Blue Bar</h2>
                            <p class="blocktext">
                                Overlooking one of The GrandBlue’s three stunning pools, The Blue Bar features an outdoor terrace and a stylish interior.
                            </p>
                            <p class="blocktext">
                                As the sun sets, taste the best of Asia with fusion tapas from an a la carte menu and sip refreshing, tropical cocktails, crisp wine and chilled champagne by the glass.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

