
@{
    ViewBag.Title = "Enjoy";
}

<div id="carouselExampleFade" class="carousel slide carousel-fade topcarousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/images/banners/banner_1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/images/homepage/banner1.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center">
    <a href="@Url.Action("Index","Home")">
        <img class="logo" src="~/Content/images/commonimages/Logo.png" alt="...">
    </a>
    <div class="logotext">
        <a id="grandtext" href="@Url.Action("Index","Home")">Grand</a>
        <a id="bluetext" href="@Url.Action("Index","Home")">Blue</a>
        <div id="resorttext">
            <p><a id="subtext" href="@Url.Action("Index","Home")">Resort & Spa</a></p>
        </div>
    </div>
</div>

<div class="commonblock">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="blocktext2">
                    Play and Enjoy
                </h2>
                <div class="text-center">
                    <img id="welcomebar" src="~/Content/images/commonimages/line.png" alt="">
                </div>
                <p class="blocksubtext">
                    GrandBlue is a vibrant playground in a picture-perfect setting. Feel the spray of the sea and wind in your hair with a number of watersports activities, build up a sweat on the hard clay tennis court and cool off in our three sparkling swimming pools. To ensure the safest possible swimming experience at the beach, GrandBlue has internationally certified lifeguards trained by Surf Life Saving Australia patrolling the beach daily.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="maincontent">
    <h2 class="blocktext1">At a Glance</h2>
    <div class="text-center">
        <img id="contentbar" src="~/Content/images/commonimages/line_1.png" alt="">
    </div>
    <div class="allglance">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 blockimgodd child1">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade"
                         data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="0" class="active" aria-current="true"
                                    aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner carboxodd">
                            <div class="carousel-item active">
                                <img src="~/Content/images/Enjoy/Enjoy.png" class="d-block w-100"
                                     alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/images/Enjoy/Enjoy4.jpg" class="d-block w-100"
                                     alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 blockdescription">
                    <div class="blockodd child1">
                        <div class="blockbody">
                            <h2 class="blocktitle">Tennis & Golf Putting Green</h2>
                            <p class="blocktext">
                                GrandBlue offers a professional tennis court with night lights as well as golf putting green complimentary to all our guests.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="allglance">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4 blockdescription">
                    <div class="blockeven child1">
                        <div class="blockbody">
                            <h2 class="blocktitle">Watersports</h2>
                            <p class="blocktext">
                                Recreational pursuits offered by the Water Sports Centre range from kayaking and bravo sailing to snorkeling for adults.
                            </p>
                            <p class="blocktext">
                                GrandBlue can also organize a fishing excursion and diving with Sailing Club Divers, Bangladesh’s longest running Five Star Dive Centres.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 blockimgeven child1">
                    <div id="carouselExampleIndicators1" class="carousel slide carousel-fade"
                         data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators1"
                                    data-bs-slide-to="0" class="active" aria-current="true"
                                    aria-label="Slide 1"></button>
                        </div>
                        <div class="carousel-inner carboxeven">
                            <div class="carousel-item active">
                                <img src="~/Content/images/Enjoy/Enjoy3.jpg" class="d-block w-100"
                                     alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="allglance">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 blockimgodd child2">
                    <div id="carouselExampleIndicators2" class="carousel slide carousel-fade"
                         data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators2"
                                    data-bs-slide-to="0" class="active" aria-current="true"
                                    aria-label="Slide 1"></button>
                        </div>
                        <div class="carousel-inner carboxodd">
                            <div class="carousel-item active">
                                <img src="~/Content/images/Enjoy/Enjoy1.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 blockdescription">
                    <div class="blockodd child2">
                        <div class="blockbody">
                            <h2 class="blocktitle">GrandBlue Cinema</h2>
                            <p class="blocktext">

                                GrandBlue is the first resort in Bangladesh to feature a Cinema. With seating for 60, the movie theatre screens a wide selection of movies daily.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="allglance">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4 blockdescription">
                    <div class="blockeven child2">
                        <div class="blockbody">
                            <h2 class="blocktitle">GrandBlue Boutique</h2>
                            <p class="blocktext">
                                In The GrandBlue Boutique, you will find a collection of pearl and gemstone jewellery created by Bangladeshi leading pearl jewellery brand.
                            </p>
                            <p class="blocktext">
                                There is a range of classic and contemporary designs featuring Tahitian, South Sea, Akoya and Mabe pearls that have been handcrafted by master jewelers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 blockimgeven child2">
                    <div id="carouselExampleIndicators3" class="carousel slide carousel-fade"
                         data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators3"
                                    data-bs-slide-to="0" class="active" aria-current="true"
                                    aria-label="Slide 1"></button>
                        </div>
                        <div class="carousel-inner carboxeven">
                            <div class="carousel-item active">
                                <img src="~/Content/images/Enjoy/Enjoy5.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

