
@{
    ViewBag.Title = "Team";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/team.css" rel="stylesheet">
    <title>GrandBlue Resort & Spa / Team</title>
</head>
<body>
    <div class="team">
        <div class="text-center">
            <img class="logo" src="~/Content/images/commonimages/Logo.png" alt="...">
            <div class="logotext">
                <p id="grandtext">Grand</p>
                <p id="bluetext">Blue</p>
                <div id="resorttext">
                    <p id="subtext">Resort & Spa</p>
                </div>
            </div>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="headingtext">
                                Member 1
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <img class="dp" src="~/Content/images/Team/azmi.png" width="50%" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 descriptionbox">
                            <div class="row">
                                <div class="col-sm-12 description">
                                    <h4>
                                        Salsabeel Noor Azmi
                                    </h4>
                                    <h6>
                                        18.02.04.037
                                    </h6>
                                    <p>
                                        (Back-End Developer)
                                    </p>
                                </div>
                            </div>
                            <div class="row row-cols-3 justify-content-md-center text-center">
                                <div class="col-md-auto">
                                    <a href="https://www.facebook.com/profile.php?id=100010067490201" target="_blank">
                                        <img data-toggle="tooltip" data-placement="bottom" title="Facebook/Salsabeel" src="~/Content/images/commonimages/facebook.svg" width="50px" alt="">
                                    </a>
                                </div>
                                <div class="col-md-auto">
                                    <a href="https://www.instagram.com/salsabeelnoor_azmi/" target="_blank">
                                        <img data-toggle="tooltip" data-placement="bottom" title="Instagram/Salsabeel" src="~/Content/images/commonimages/instagram.svg" width="50px" alt="">
                                    </a>
                                </div>
                                <div class="col-md-auto">
                                    <a href="https://www.discord.com/users/675014297222381579/" target="_blank">
                                        <img data-toggle="tooltip" data-placement="bottom" title="Discord/Salsabeel" src="~/Content/images/commonimages/discord.svg" width="50px" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="headingtext">
                                Member 2
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <img class="dp" src="~/Content/images/Team/tarik.jpg" width="52.75%" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 descriptionbox">
                            <div class="row">
                                <div class="col-sm-12 description">
                                    <h4>
                                        Ahammed Tarik Aziz
                                    </h4>
                                    <h6>
                                        18.02.04.061
                                    </h6>
                                    <p>
                                        (Full-Stack Developer)
                                    </p>
                                </div>
                            </div>
                            <div class="row row-cols-3 justify-content-md-center text-center">
                                <div class="col-md-auto">
                                    <a href="https://www.facebook.com/tarik816" target="_blank">
                                        <img data-toggle="tooltip" data-placement="bottom" title="Facebook/Ahammed" src="~/Content/images/commonimages/facebook.svg" width="50px" alt="">
                                    </a>
                                </div>
                                <div class="col-md-auto">
                                    <a href="https://www.instagram.com/taziz506/" target="_blank">
                                        <img data-toggle="tooltip" data-placement="bottom" title="Instagram/Ahammed" src="~/Content/images/commonimages/instagram.svg" width="50px" alt="">
                                    </a>
                                </div>
                                <div class="col-md-auto">
                                    <a href="https://www.discord.com/users/504890368391643147/" target="_blank">
                                        <img data-toggle="tooltip" data-placement="bottom" title="Discord/Ahammed" src="~/Content/images/commonimages/discord.svg" width="50px" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="headingtext">
                                Member 3
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <img class="dp" src="~/Content/images/Team/rawna.jpg" width="65%" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 descriptionbox">
                            <div class="row">
                                <div class="col-sm-12 description">
                                    <h4>
                                        Salehin Bin Iqbal
                                    </h4>
                                    <h6>
                                        18.02.04.062
                                    </h6>
                                    <p>
                                        (Front-End Developer)
                                    </p>
                                </div>
                            </div>
                            <div class="row row-cols-3 justify-content-md-center text-center">
                                <div class="col-md-auto">
                                    <a href="https://www.facebook.com/salehin.rawna/" target="_blank">
                                        <img data-toggle="tooltip" data-placement="bottom" title="Facebook/Salehin" src="~/Content/images/commonimages/facebook.svg" width="50px" alt="">
                                    </a>
                                </div>
                                <div class="col-md-auto">
                                    <a href="https://www.instagram.com/botskillerbot/" target="_blank">
                                        <img data-toggle="tooltip" data-placement="bottom" title="Instagram/Salehin" src="~/Content/images/commonimages/instagram.svg" width="50px" alt="">
                                    </a>
                                </div>
                                <div class="col-md-auto">
                                    <a href="https://www.discord.com/users/623566944364134431/" target="_blank">
                                        <img data-toggle="tooltip" data-placement="bottom" title="Discord/Salehin" src="~/Content/images/commonimages/discord.svg" width="50px" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer">
            <p id="cpyrttext">
                © Copyright 2021 GrandBlue Resort & Spa. | All Rights Reserved | Powered by ATS
            </p>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>

