
@{
    ViewBag.Title = "DeluxeSuite";
}

<div id="carouselExampleFade" class="carousel slide carousel-fade topcarousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/images/Rooms & Suites/DeluxeSuite/banner_dsuite.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="text-center">
    <a href="@Url.Action("Index","Home")">
        <img class="logo" src="~/Content/images/commonimages/Logo.png" alt="...">
    </a>
    <div class="logotext">
        <a id="grandtext" href="@Url.Action("Index","Home")">Grand</a>
        <a id="bluetext" href="@Url.Action("Index","Home")">Blue</a>
        <div id="resorttext">
            <p><a id="subtext" href="@Url.Action("Index","Home")">Resort & Spa</a></p>
        </div>
    </div>
</div>
<div class="commonblock">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="blocktext2">
                    Deluxe Suite
                </h2>
                <div class="text-center">
                    <img id="welcomebar" src="~/Content/images/commonimages/line.png" alt="">
                </div>
                <p class="blocksubtext">
                    The 79 sqm Deluxe Suite comes with a private balcony and offers a magnificent vista across the bay while reflecting the resort’s signature design. A spacious stone-lined en suite bathroom with sunken bathtub and a rain-shower adds to the luxury experience.
                </p>
            </div>
        </div>
    </div>
</div>
        </div>
<div class="maincontent">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row row-cols-1">
                <a href="~/Content/images/Rooms & Suites/DeluxeSuite/Suite1.jpg" data-lightbox="mygallery">
                    <img src="~/Content/images/Rooms & Suites/DeluxeSuite/Suite1.jpg" width="100%" alt="">
                </a>
            </div>
            <div class="row row-cols-1 allsmallroompics">
                <div class="col-sm-4 roompics">
                    <a href="~/Content/images/Rooms & Suites/DeluxeSuite/Suite1_1.jpg" data-lightbox="mygallery">
                        <img class="smallimg" src="~/Content/images/Rooms & Suites/DeluxeSuite/Suite1_1.jpg" width="100%" alt="">
                    </a>
                </div>
                <div class="col-sm-4 roompics">
                    <a href="~/Content/images/Rooms & Suites/DeluxeSuite/Suite1_2.jpg" data-lightbox="mygallery">
                        <img class="smallimg" src="~/Content/images/Rooms & Suites/DeluxeSuite/Suite1_2.jpg" width="100%" alt="">
                    </a>
                </div>
                <div class="col-sm-4 roompics">
                    <a href="~/Content/images/Rooms & Suites/DeluxeSuite/Suite1_3.jpg" data-lightbox="mygallery">
                        <img class="smallimg" src="~/Content/images/Rooms & Suites/DeluxeSuite/Suite1_3.jpg" width="100%" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <h1 id="roomdetails">
                    Room Amenities
                </h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="roominfo">
                        <li>
                            Terrace
                        </li>
                        <li>
                            Working desk & bedside table
                        </li>
                        <li>
                            Seating area & sofa
                        </li>
                        <li>
                            Complimentary WiFi
                        </li>
                        <li>
                            Bathtub, rain shower and dual washbasins
                        </li>
                        <li>
                            Air conditioning and ceiling fan
                        </li>
                        <li>
                            Full amenities and toiletries
                        </li>
                        <li>
                            Safe deposit box
                        </li>
                        <li>
                            300 thread count Irish Cotton Bed linen
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="roominfo">
                        <li>
                            IDD telephone
                        </li>
                        <li>
                            Mini bar, tea making station and water kettle
                        </li>
                        <li>
                            Complimentary water, fruits, flowers, French Dammann teas and Nespresso machine daily capsules
                        </li>
                        <li>
                            Luggage cabinet with various items: slippers, beach bag, sun shade etc
                        </li>
                        <li>
                            Wardrobe with essential items: bathrobe, kimono, torchlight, ironing set etc
                        </li>
                        <li>
                            24 hours Room Service
                        </li>
                        <li>
                            Pillow menu
                        </li>
                        <li>
                            Nightly Turndown Service
                        </li>
                        <li>
                            Super comfortable Sealy Mattress
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="~/Content/images/Rooms & Suites/DeluxeSuite/Suite1_4.jpg" width="75%" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>

